[project]
	description = \"it_tifg\"
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/o-ran-sc-gerrit-it-tifg-committers
	read = group GitHub Replication

[submit-requirement "Code-Review"]
	submittableIf = is:true
	applicableIf = is:true
	canOverrideInChildProjects = true
[submit-requirement "Verified"]
	submittableIf = is:true
	applicableIf = is:true
	canOverrideInChildProjects = true
